<ion-header>
  <ion-toolbar>
    <ion-title>Rating</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >


  <ion-item lines="none">
    <ion-note>Rate you experience with us!</ion-note>
  </ion-item>


  <!--When each star is pressed, fill with -->
  <ion-item-group class="stars">
    <ion-icon name="star" id="star1"></ion-icon>
    <ion-icon name="star" id="star2"></ion-icon>
    <ion-icon name="star" id="star3"></ion-icon>
    <ion-icon name="star" id="star4"></ion-icon>
    <ion-icon name="star" id="star5"></ion-icon>
  </ion-item-group>

  <ion-item-group>
    <ion-button color="success">Confirm</ion-button>
    <ion-button color="warning">Skip</ion-button>
  </ion-item-group>

</ion-content>
