<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Restaurant Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
        <!--Basic: auto-select the icon based on the platform -->
      <ion-icon name="arrow-back" style="padding-left: 20px; font-size: 25px;"></ion-icon>
      <ion-title size="medium" style="padding-bottom: 100%;">Current Location</ion-title>
      <ion-title size="small">Donald Bren Hall</ion-title>
    </ion-toolbar>

  </ion-header>




  <ion-slides >
    <!--*ngFor = "let storageOvernight of storageOvernightData.slice().reverse() | slice:-5"-->
    <ion-slide>
      <ion-card> 
        <IonCardHeader>
          <!--insert image here-->
          <ion-img src='assets/best-chicken-wings-in-Los-Angeles-Maple-Block.jpeg' style="height: 212px; width: 290px; text-align: center;"></ion-img>
        </IonCardHeader>
    
        <ion-card-content>
          Buffalo Wild Wings
        </ion-card-content>
        
      </ion-card>
    </ion-slide>

    <ion-slide>

      <ion-card style="height: 343;">
        <IonCardHeader>
          <!--insert image here-->
          <ion-img src='assets/seafood-alfredo-dpv-1180x730.webp'></ion-img>
        </IonCardHeader>
    
        <ion-card-content style="height: 50%;">
          Olive Garden
        </ion-card-content>
        
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <IonCardHeader>
          <!--insert image here-->
          <ion-img src='assets/pho.jpeg'></ion-img>
        </IonCardHeader>
    
        <ion-card-content>
          Simply Pho
        </ion-card-content>
        
      </ion-card>
    </ion-slide>

  </ion-slides>

  <ion-item style="padding: 1px 40px 10px 40px;">
    <ion-label className="ion-text-wrap">
      <ion-text color="black" style="text-align: center;" >
        <h3 style="text-align: center; background-color: grey; border-radius: 10px; padding-top: 10px; padding-bottom: 10px;" >123 Campus Dr.<br>
          Irvine, CA
        </h3>
      </ion-text>
    </ion-label>
  </ion-item>


</ion-content>
