<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Restaurant Page
    </ion-title>

    <ion-buttons [routerLink]="['/dashboard']">
      <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

        <!--Basic: auto-select the icon based on the platform -->
      <!-- <ion-icon name="arrow-back" (click) = "goBack()" style="padding-left: 20px; font-size: 25px;"></ion-icon> -->




  <ion-card-header style="text-align: center;" class="logo">
    <!--insert image here-->
    <ion-img src='assets/buffalo wild wings.png' style="height: 212px; width: 290px; text-align: center;"></ion-img>
  </ion-card-header>

  <ion-item>
    <ion-label className="ion-text-wrap">
      <ion-text color="black" style="text-align: center;" >
        <h3 style="text-align: center; background-color: grey; border-radius: 10px; padding-top: 10px; padding-bottom: 10px;" >123 Campus Dr.<br>
          Irvine, CA
        </h3>
      </ion-text>
    </ion-label>
  </ion-item>


  <!--for restaurant food-->
  <ion-slides >
    <!--*ngFor = "let storageOvernight of storageOvernightData.slice().reverse() | slice:-5"-->
    <ion-slide>
      <ion-card> 
        <ion-card-header>
          <!--insert image here-->
          <ion-img class ="buffalo" alt="buffalo wings"src='assets/best-chicken-wings-in-Los-Angeles-Maple-Block.jpeg' style="height: 212px; width: 290px; text-align: center;"></ion-img>
        </ion-card-header>
    
        <ion-card-content>
          Buffalo Wings
        </ion-card-content>
<!--           
        <ion-item class="addToCartItemContainer">
        </ion-item> -->
        <ion-button class="addToCart" (click) = "presentAlert()" expand="block">Add to Cart</ion-button>

        
      </ion-card>
    </ion-slide>

    <ion-slide>

      <ion-card style="height: 343;">
        <ion-card-header>
          <!--insert image here-->
          <ion-img class ="fries" alt="fries" src='assets/FrenchFries.jpeg'></ion-img>
        </ion-card-header>
    
        <ion-card-content style="height: 50%;">
          Fries
        </ion-card-content>
        
        <!-- <ion-item class="addToCartItemContainer"> -->
          <ion-button class="addToCart" (click) = "presentAlert()" expand="block">Add to Cart</ion-button>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <!--insert image here-->
          <ion-img class ="garlicFries" alt="garlicFries" src='assets/download.jpeg'></ion-img>
        </ion-card-header>
    
        <ion-card-content>
          Garlic Wings
        </ion-card-content>
        
        <!-- <ion-item class="addToCartItemContainer"> -->
          <ion-button class="addToCart" (click) = "presentAlert()" expand="block">Add to Cart</ion-button>
        <!-- </ion-item> -->
      </ion-card>
    </ion-slide>

  </ion-slides>

    <!-- fab placed to the (vertical) center and end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [routerLink]="['/cart-details']">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
 

</ion-content>
