<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Restaurant Roller</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img id="img1" src="../../assets/images/delsushiroller.png">
  <img id="img2" src="../../assets/images/delsushidetails.png">
  <ion-button [routerLink]="['/restaurant-page']" id="moreinformation" strong="true" shape="round">MORE INFORMATION</ion-button>
  <ion-button (click)="presentLoading()" id="confirmlocation" strong="true" shape="round">RE-ROLL!</ion-button>
</ion-content>
