ion-toolbar, ion-header {
    --min-height: 50px;
    --background: #0065A5;
}

ion-toolbar, ion-title{
    font-family: Livvic;
    color:white;
}

ion-back-button{
    color:white;
}

#img1{
    left: 0;
    right: 0;
    position: absolute;
    padding: 10px;
}

#img2{
    top: 35%;
    left: 0;
    right: 0;
    position: absolute;
    padding: 30px;
}


ion-range{
    padding: 0;
    padding-right: 10px;
}

#confirmlocation{
    z-index:10;   
    top: 85%;
    text-align: center;
    left: 0;
    right: 0;
    --background: #0065A5;
    position: absolute;
    --color: #FFD301;
}

#moreinformation{
    z-index:10;   
    top: 75%;
    text-align: center;
    left: 0;
    right: 0;
    --background: #0065A5;
    position: absolute;
    --color: #FFD301;
}


.loader{
    --background: rgba(255, 255, 255, 0);
}