<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button> <!--Back button testing must be done when linking starts.-->
    </ion-buttons>
    <ion-title>
      Cart Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--List of Food Items-->
  <ion-list>
    <ion-item>
      <ion-label text-wrap>
        <h3>Pokémon Yellow</h3>
        <p>Super cool, amazing, wow</p>
      </ion-label>
      <ion-button fill=clear>
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label text-wrap>
        <h3>Mega Man X</h3>
        <p>Yep, uh huh</p>
      </ion-label>
      <ion-button fill=clear>
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-item>

    
    <ion-item>
      <div class="quantity">
        <button class=increment type="button" name="button">
          <ion-icon name="remove-outline"></ion-icon>
        </button>
        <input type="text" name="name" value="12" maxlength="2" size="1" style="text-align: center; font-size:12px;">
        <button class=increment type="button" name="button">
          <ion-icon name="add-outline"></ion-icon>
        </button>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-label>
              <h3>Blk Bean Burrito</h3>
              <p>Xtra guac, no tomato, lettuce</p>
            </ion-label>
          </ion-col>
          <ion-col>
            <h4>$999.99</h4>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button class=remove fill=clear no-padding>
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
<div style="position: absolute; bottom: 0px; width: 100%">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button color="primary">Proceed to Checkout</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
