<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button> <!--Back button testing must be done when linking starts.-->
    </ion-buttons>
    <ion-title>
      Cart Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--List of Food Items-->
  <div class="center-text" *ngIf="foodItems.length==0; else showItems">
    <ion-icon class="cart-icon" name="cart-outline"></ion-icon>
   <ion-label class="ion-text-center">
     <h1>Your cart is empty!</h1>
     <h2>Add items to your cart to place an order.</h2>
   </ion-label>
  </div>

<ng-template #showItems>
  <ion-list>
    <ion-item *ngFor="let item of foodItems">
      <div class="quantity">
        <button (click)="item.decQuantity()" class=increment type="button" name="button">
          <ion-icon name="remove-outline"></ion-icon>
        </button>
        <input [(ngModel)]="item.quantity" type="text" name="name" value={{item.quantity}} maxlength="2" size="1" style="text-align: center; font-size:12px;">
        <button (click)="item.incQuantity()" class=increment type="button" name="button">
          <ion-icon name="add-outline"></ion-icon>
        </button>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-label>
              <h3>{{item.name}}</h3>
              <p>{{item.appliedMods()}}</p>
            </ion-label>
          </ion-col>
          <ion-col>
            <h4>${{item.price}}</h4>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button (click)="deleteItem(item.num)" class=remove fill=clear no-padding>
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>


  <!--Cart Subtotal-->


</ng-template>
</ion-content>
<div *ngIf="foodItems.length!=0" style="position: absolute; bottom: 0px; width: 100%">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button color="primary">Proceed to Checkout</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

