.rectangle {
    height: 30px;
    width: 100x;
    color:black;
    background-color: transparent;
    border: 2px solid black;
    display: flex;
    justify-content:center;
    align-items: center;
  }