<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button> <!--Back button testing must be done when linking starts.-->
    </ion-buttons>
    <ion-title>
      Cart Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--List of Food Items-->
  <div class="center-text" *ngIf="foodItems.length==0; else showItems">
    <ion-icon class="cart-icon" name="cart-outline"></ion-icon>
   <ion-label class="ion-text-center">
     <h1>Your cart is empty!</h1>
     <h2>Add items to your cart to place an order.</h2>
   </ion-label>
  </div>

<ng-template #showItems>
  <ion-list>
    <h2>Items</h2>
    <ion-item *ngFor="let item of foodItems">
      <div class="quantity">
        <button (click)="item.decQuantity()" class=increment type="button" name="button">
          <ion-icon name="remove-outline"></ion-icon>
        </button>
        <input (change)="item.setQuantity($event.target.value)" (focusout)="resetQuantity($event.target, item.num)" type="text" name="name" value={{item.quantity}} maxlength="2" size="1" style="text-align: center; font-size:12px;">
        <button (click)="item.incQuantity()" class=increment type="button" name="button">
          <ion-icon name="add-outline"></ion-icon>
        </button>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-label>
              <h3>{{item.name}}</h3>
              <p>{{item.appliedMods()}}</p>
            </ion-label>
          </ion-col>
          <ion-col>
            <h4>${{item.price}}</h4>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button (click)="deleteItem(item.num)" class=remove fill=clear no-padding>
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>


  <!--Cart Subtotal-->
    <div style="position: absolute; bottom: {{setBottom()}}; width: 100%;">
    <ion-grid>
      <h2>Total</h2>
      <ion-row>
        <ion-col>
        <ion-label class="ion-float-left"><h3>Subtotal</h3></ion-label>
      </ion-col>
      <ion-col>
        <ion-label class="ion-float-right"><h3 style="font-weight: bold;">${{detSubtotal()}}</h3></ion-label>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-label class="ion-float-left"><h3>Delivery Fee</h3></ion-label>
      </ion-col>
      <ion-col>
        <ion-label class="ion-float-right"><h3 style="font-weight: bold;">${{deliveryFee}}</h3></ion-label>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-label class="ion-float-left"><h3>Tax</h3></ion-label>
      </ion-col>
      <ion-col>
        <ion-label class="ion-float-right"><h3 style="font-weight: bold;">${{detTax()}}</h3></ion-label>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-label class="ion-float-left"><h3>Tip</h3></ion-label>
      </ion-col>
      <ion-col>
        <ion-label class="ion-float-right">
          <span style="font-weight: bold; font-size:12px">
            $
            <input (change)="setTip($event.target.value)" (focusout)="resetTip($event.target)"  type="text" name="name" value={{tip.toFixed(2)}} maxlength="6" size="3" style="text-align: center; font-size:12px;">
          </span>
        </ion-label>
      </ion-col>
      </ion-row>
      <hr style="background:black">
      <ion-row>
        <ion-col>
        <ion-label class="ion-float-left"><h3>Total Cost</h3></ion-label>
      </ion-col>
      <ion-col>
        <ion-label class="ion-float-right"><h3 style="font-weight: bold;">${{detTotal()}}</h3></ion-label>
      </ion-col>
      </ion-row>
    </ion-grid>
  

  <!--Checkout Button-->
      <ion-row *ngIf="foodItems.length!=0">
        <ion-col size="12" class="ion-text-center">
          <ion-button color="primary">Proceed to Checkout</ion-button>
        </ion-col>
      </ion-row>
  </div>
</ng-template>
</ion-content>


