//Toolbar Themes
.toolbar-theme-1 {
    --background: #0065A5;
    --color: white;
}
.toolbar-theme-2 {
    --background: #0065A5;
    --color: white;
}
.toolbar-theme-3 {
    --background: #A1A2A3;
    --color: white;
}
.toolbar-theme-4 {
    --background: #7B9CB1;
    --color: white;
}
.toolbar-theme-5 {
    --background: #596B77;
    --color: white;
}


//Content Themes
.content-theme-1 {
    --background: white;
    --color: black;
}
.content-theme-2 {
    --background: #bbc6da;
    --color: black;
}
.content-theme-3 {
    --background: #5E7685;
    --color: white;
}
.content-theme-4 {
    --background: #3D4951;
    --color: white;
}
.content-theme-5 {
    --background: #192D39;
    --color: white;
}